.etudeplus {
  padding: 60px 40px;
  color: #1e3a8a;
}

.etudeplus-container {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: auto;
  padding-top: 20px;
}

.etudeplus-text {
  flex: 1;
  font-size: 18px;
}

.etudeplus-text h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.etudeplus-text h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.etudeplus-text p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Amélioration du style de l'image */
.etudeplus-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etudeplus-image img {
  width: 80%;
  max-width: 600px; /* Augmenter la largeur maximale de l'image */
  height: auto; /* Assurer que l'image garde ses proportions */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Style pour le bouton avec lien */
.btn-soutien {
  display: inline-block;
  background-color: #ff8800;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-soutien:hover {
  background-color: #e07b00;
  color: white;
}
