.footer {
  background-color: #0f3b67;
  color: white;
  padding: 30px 30px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Disposer les éléments sur une ligne */
  align-items: flex-start; /* Centrer les éléments verticalement */
  width: 100%;
  position: relative;
  min-height: 150px; /* Augmenter la hauteur pour donner plus de place */
}

/* Conteneur principal */
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 40px; /* Espace entre les sections */
}

/* Sections du footer */
.footer-section {
  flex: 1; /* Chaque section prend une part égale de l'espace */
  min-width: 200px; /* Largeur minimale des sections */
  text-align: center;
}

/* Titres des sections */
.footer-section h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: orange;
}

/* Ligne de séparation sous les titres */
.footer-section hr {
  width: 50px;
  margin: 8px auto;
  border: 1px solid orange;
}

/* Texte */
.footer-section p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Liens */
.footer-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: orange;
  text-decoration: none;
}

/* Icônes des réseaux sociaux */
.social-icons {
  font-size: 28px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

/* Icônes cliquables */
.social-icons a {
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  color: orange;
}

/* Ligne du Copyright */
.footer::after {
  content: "Copyright © 2025 Etude Plus";
  display: block;
  background-color: #0d2a4a;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
