.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    z-index: 1000;
  }
  
  .logo img {
    height: 45px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .menu li a {
    position: relative;
    text-decoration: none;
    font-size : 18px ; 
  }
  
  .menu li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff8800;
    transition: width 0.3s ease;
  }
  
  .menu li a:hover::before {
    width: 100%;
  }
  
  
  .nav-buttons {
    display: flex;
    gap: 15px;
  }
  
  .btn {
    background-color: #ff8800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e07b00;
  }
  
  .dropdown {
    background-color: #ff8800;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .dropdown:hover {
    background-color: #e07b00;
  }
  