# Fichiers sensibles
.env
.env.local
*.key
*.pem
*.crt
firebase-config.js
config.js
secrets.js
site_formation/src/components/Contact.jsx

# Node.js
node_modules/
dist/
build/

# Logs et système
*.log
.DS_Store

# React/Vite/Next caches
.vite/
.next/
